.data-table {
  padding: 100px;
  background-color: white;
}

body {
  overflow-x: hidden;
}
.heading {
  width: 100%;
  padding: 20px;
  background-color: #0F4159;
  color: #fff;
}
.footer-container {
  border: 2px solid #CAD4D6;
  height: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.form-elements {
  padding: 25px 100px 0 100px;
  border: 1px solid #ccc;
}
.button-container {
  padding: 20px 0 20px 15px;
  float: right;
}
label {
  color: white;
}
.img-background{
  background-image: url('../fiji-tripplanner-about.jpg');
  background-repeat: no-repeat;
}
